.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 32px;
    padding-left: 5px;
    text-align: center;
}

.navbar{
    color: indianred;
    text-align: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}